{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# this is a bit ugly, but Twig doesn't have a 'is numeric' test #}

{% if ea.crud.currentAction == 'detail' %}
    <ul>
        {% for item in field.value %}
        <li>
                {{ item }}
        </li>    
        {% endfor %}
    </ul>
{% else %}
    {% for item in field.value %}
        <span class="badge badge-secondary">{{ item }}</span>
    {% endfor %}
{% endif %}
