{% extends '@!EasyAdmin/layout.html.twig' %}


{% block main %}
    <div data-controller="fullcalendar" data-fullcalendar-filter-value="{{ calendar_filter }}" data-fullcalendar-id-value="{{ calendar_filter_id }}"></div>
{% endblock %}
